@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

:root {
    --theme-red: #c1282d;
    --max-width: 1000px;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--theme-red);
}

::selection {
    color: white;
    background: var(--theme-red);
}

body {
    font-family: 'Roboto', serif !important;
    line-height: 1.25;
    margin: 0;
}

p {
    text-align: left;
}

p, h1, h2, li {
    color: #333;
}

.main_logo img {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 352px;
}

#top {
    width: 100%;
    position: relative;
    height: 100vh;
}

#top_img {
    height: 100%;
    object-fit: cover;
}

#item_desc {
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 90%;
}

.item_desc_text {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
/*    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;*/
    margin-top: 0;
    color: white;
}

.item_title {
    text-align: center;
    color: white;
    font-size: 48px;
    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
    word-break: break-word;
    margin-bottom: .5rem;
    font-family: 'Reem Kufi', serif !important;
}

.refer_button {
    font-weight: bold;
    font-family: Roboto, serif;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 100%;
    outline: 0;
    transition-duration: .4s;
    border-style: none;
    margin-bottom: 5px;
}

a .refer_button_primary {
    background-color: #3da540;
    color: #fff;
}

a button.refer_button_primary:hover {
    background-color: white;
    color: var(--theme-red);
    transition-duration: .2s;
}

a .refer_button_secondary {
    background-color: white;
    color: var(--theme-red);
}

a button.refer_button_secondary:hover {
    background-color: var(--theme-red);
    color: white;
    border-color: white;
    transition-duration: .2s;
}

.order_button {
    background-color: #3da540;
    border: 2px solid white;
    color: #fff;
    font-weight: 700;
    font-family: Roboto, serif;
    padding: 1em 2em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 120%;
    outline: 0;
    transition-duration: 0.4s;
    width: 680px;
    max-width: 85%;
}

.order_button:hover {
    background-color: white;
    color: var(--theme-red);
    transition-duration: .2s;
}

#info_container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1em;
    max-width: var(--max-width);
    margin: auto;
}

#info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#overview_container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1em;
    max-width: var(--max-width);
    margin: auto;
/*    background-color: var(--theme-red);*/
}

#overview {
    vertical-align: middle;
    width: 100%;
    margin-bottom: 1em;
    margin-top: .4em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#overview .overview_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.overview_left .overview_image {
    width: 100%;
}

.overview_right .overview_text, .overview_right .overview_details {
    width: 100%;
    margin: 0 auto;
    font-size: larger;
}

details {
    transition: border-bottom-width 1s;
}

.overview_right .overview_details[open] {
    border-bottom: none;
}

details[open] summary {
    border-bottom: 4px solid var(--theme-red);
    margin-bottom: .5em;
    transition: border-bottom .5s;
}

details :not(:first-child) {
    clear: both;
    overflow: hidden;
}

details summary::marker {
    color: var(--theme-red);
}

.overview_right summary {
    width: 100%;
    margin: .5em 0;
    cursor: pointer;
    color: var(--theme-red);
    transition: transform 0.25s;
    font-size: 24px;
    text-align: left;
    float: left;
}

.overview_right summary:hover {
    transform: scale(1.05);
    transition: all 0.1s;
}

.overview_right summary:active {
    opacity: 0.5;
    transform: scale(1);
    transition: all 0.1s;
}

.overview_right summary:focus {
    outline: none;
}

/* FAQ Details Animation */

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    /*0%    {opacity: 0; margin-right: -80vw; margin-left: 80vw}*/
    /*100%  {opacity: 1; margin-right: 0px; margin-left: 0px}*/
    0%    {opacity: 1; transform: translate(100vw, 0)}
    100%  {opacity: 1; transform: translate(0, 0)}
}

#icons {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
/*    background-color: var(--theme-red);*/
}

#icons_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: var(--max-width);
    margin: auto;
}

#icons img {
    transition: transform .5s;
	width: 100px;
    height: 100px;
}

#icons img:hover {
    transform: none;
    transition: none;
}

.section_title_light, .section_title_theme {
    font-size: 32px;
    color: var(--theme-red);
    margin: 14px 0 16px 0;
    font-family: 'Reem Kufi', serif !important;
}

.section_title_light::after, .section_title_theme::after {
    content: " ";
    border-bottom: 4px solid var(--theme-red);
    width: 100px;
    display: block;
    margin: 6px auto -4px;
}

.section_title_light::after {
    border-bottom: 4px solid white;
}

.section_title_light {
    color: white;
}

.info_img {
    width: 100%;
    height: auto;
}

.info_box {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    padding: 5px;
    transition: all .25s;
    z-index: 0;
    flex-grow: 1;
}

#products_container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: var(--theme-red);
    padding: 1em 1em 3em;
}

.products_img {
    width: 100%;
    height: auto;
    box-shadow: white 0 0 0 2px, 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.product_small_desc {
    height: auto;
    color: white;
    max-height: 150px;
    padding-bottom: 1px;
    overflow-x: auto;
    overflow-y: auto;
    word-wrap: break-word;
    margin-top: 0;
    font-size: large;
    margin-bottom: 10px;
}

.product_large_desc {
    margin: 5px 0 5px 0;
    font-size: larger;
}

#products {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.products_box {
    display: inline-block;
    width: 38%;
    vertical-align: top;
    margin: 7.5px;
}

.links_list {
    list-style-type: none;
    text-align: center;
    margin: 2px 0 15px 0;
}

.link_list_item {
    display: block;
    padding: 1em;
    color: #333;
}

#testimonials {
/*    height: 250px;*/
}

.testimonials_slider {
/*
    top: 50%;
    transform: translateY(-50%);
*/
    margin-top: 32px;
    padding: 20px 0;
}

.testimonials_slider .slick-slide {
    height: 150px;
    width: 280px;
}

.testimonials_slider .slick-slide_container {
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px
}

.testimonials_slider .slick-slide_inner_container {
    position: relative;
    height: 100%;
}

.slick-slide_container img {
    width: 48px;
    display: inline-block !important;
    margin-bottom: 5px;
}

.slick-slide_container h3 {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    margin: 0 0 0 4px;
}

.slick-slide_container p {
    overflow: auto;
    height: 86px;
}

/*Slick Slider Stuff*/

.slick-slide {
    transition: all 1s;
}

#testimonials .testimonials_slider .slick-slide:hover {
    filter: none;
    transition: all .5s;
}

#testimonials .slick-slide:not(.slick-current) {
    filter: blur(1px);
    opacity: .8;
}

.slick-next, .slick-prev {
    z-index: 500 !important;
}

.slick-next {
    right: 35px !important;
}

.slick-prev {
    left: 25px !important;
}

.slick-next {
    right: -25px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next:before {
    content: '>';
}
.slick-prev:before, .slick-next:before {
    padding: .1em;
    transition: opacity .2s;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: block;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--theme-red);
}

.slick-prev:hover:before, .slick-next:hover:before {
    opacity: 1 !important;
}

.slick-prev:before {
    content: '<';
}

.testimonials_slider .slick-slide:hover {
    cursor: grab;
}

.testimonials_slider .slick-slide:active:hover {
    cursor: grabbing;
}

a {
    color: var(--theme-red);
    text-decoration-color: transparent;
    transition: text-decoration-color .25s;
}

a:visited {
    color: var(--theme-red);
}

a:hover {
    text-decoration-color: var(--theme-red);
    transition: text-decoration-color .2s;
}


#footer_payments {
    text-align: center;
    margin-bottom: 16px;
}

#footer_payments img {
    max-width: 250px;
    width: 90%;
}

.footer a {
    color: white;
}

#social_media {
    text-align: center;
}

.social_media_icon {
    width: 48px;
    height: auto;
    transition: all 0.5s;
    margin: 0 25px 0 25px;
}

.social_media_icon:hover {
    transition: all 0.25s;
    opacity: 0.8;
    transform: scale(1.2);
    cursor: pointer;
}

.footer {
    padding-top: 1em;
    background-color: #191919;
}

#footer_company {
    margin-right: 40px;
}

.official_container {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.official_item {
    display: inline-block;
    color: white;
    margin: .5em;
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  outline: 1px solid slategrey;
}

@media screen and (min-width: 400px) and (min-height: 400px){

    .testimonials_slider .slick-slide {
        width: 350px;
    }

    #products_container {
        padding: 1em 2.5em;
    }

    #overview_container {
        padding: 1em 2.5em;
    }

    #info_container {
        padding: calc(1em - 5px) 2.5em;
    }

    .info_box {
        display: inline-block;
        width: 300px;
        vertical-align: top;
        padding: 5px;
        transition: all .25s;
        z-index: 0;
    }

    .products_box {
        display: inline-block;
        width: 150px;
        vertical-align: top;
        margin: 10px;
    }

    #item_desc {
        position: absolute;
        text-align: center;
        width: 100%;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        max-width: 75%;
    }

    .item_desc_text {
        text-align: center;
        font-size: 24px;
/*        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;*/
        font-weight: normal;
    }

    .item_title {
        text-align: center;
        font-size: 64px;
     /*   text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        color: var(--theme-red); */
    }

    .refer_button {
        font-weight: bold;
        padding: 1em 2em;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        font-size: 100%;
        outline: 0;
        transition-duration: 0.4s;
        margin-bottom: 5px;
    }

	#icons img:hover {
		transform: scale(1.2);
		transition: transform .25s;
	}
}

@media (min-width: 800px) {
    #overview .overview_right {
        width: calc((100%/3) * 2) !important;
    }

    .overview_right .overview_details[open] {
        border-bottom: 2px solid var(--theme-red);
    }

    #overview .overview_left {
        width: calc(100%/3) !important;
        /*flex-direction: row;*/
        margin-bottom: 0;
    }

    #overview {
        display: flex;
        align-items: stretch;
        flex-direction: row;
    }

    #overview .overview_left img {
        width: 100%;
    }

    .overview_right .overview_text, .overview_right .overview_details {
        width: 90%;
    }
}

@media (min-width: 600px) {
    /*#products_container {*/
    /*    padding: 1em 5em;*/
    /*}*/

    /*#overview_container {*/
    /*    padding: 1em 5em;*/
    /*}*/

    /*#info_container {*/
    /*    padding: calc(1em - 5px) 5em;*/
    /*}*/

    .overview_right summary {
        width: auto;
        margin: 1em 1em 10px;
    }

    .link_list_item {
        display: inline;
        text-decoration: none;
    }

    .official_container {
        flex-direction: row;
        justify-content: space-between
    }
}

@media (min-width: 1080px) {

    .testimonials_slider .slick-slide {
        width: 450px;
    }

    .info_box {
        display: inline-block;
        width: calc(33% - 10px);
        vertical-align: top;
        padding: 5px;
        transition: all .25s;
        z-index: 0;
    }
}
