body {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.25;
}

* {
    font-family: 'Open Sans', sans-serif !important;
}

p {
    text-align: left;
}

p, h1, h2, li{
        color: #333;
}

#page {
    width: 100% + 8px;
    margin: -8px;
}

#top_div {
    width: 100%;
    position: relative;
}

#top_div_img {
    /* Set height to viewheight */
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#item_desc {
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 90%;
}

.item_desc_text {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.item_title {
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.order_button {
    background-color: #3da540;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 100%;
    outline: 0;
    transition-duration: 0.4s;
    border-style: none;
    width: 85%;
}

.order_button:hover {
    background-color: #4caf50;
    color: #fff;
}

#info_div_container, #products_div_container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

#info_div_container {
    padding-top: 1em;
    padding-bottom: 4em;
    box-shadow: 0px 0px 50px 0px #000000;
}

.info_div_img {
    width: 300px;
    height: auto;
}

#products_div_container {
    background-color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 3em;
}

.products_div_img {
    width: 150px;
    height: auto;
}

.product_small_desc {
    height: auto;
    max-height: 150px;
    padding-bottom: 1px;
    overflow-x: auto;
    overflow-y: auto;
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 10px;
}

#info_div {
    display: inline-block;
    vertical-align: middle;
}

.info_box {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    padding: 5px;
    transition: all .25s;
    z-index: 0;
}

.info_box:hover{
        background-color: #cccccc;
    }

@media screen and (min-width: 400px) and (min-height: 400px){

    .order_button {
        background-color: #3da540;
        color: #fff;
        font-weight: bold;
        padding: 1em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        font-size: 100%;
        outline: 0;
        transition-duration: 0.4s;
        border-style: none;
        max-width: 680px;
        min-width: 340px;
        width: 80%;
    }

    .order_button:hover {
        background-color: #4caf50;
        color: #fff;
    }


    .info_box:hover{
        background-color: #cccccc;
        transition: all .25s;
        transform: scale(1.2);
        box-shadow: 0px 0px 50px 0px #333;
        z-index: 10;
    }

    #item_desc {
        position: absolute;
        text-align: center;
        top: 100px;
        width: 100%;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        max-width: 75%;
    }

    .item_desc_text {
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }

    .item_title {
        text-align: center;
        font-weight: bolder;
        font-size: 64px;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }

}

#products_div {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

}

.products_box {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin: 10px;
}

.links_list {
    list-style-type: none;
    text-align: center;

}
.link_list_item {
    display: inline;
    padding: 1em;
    text-decoration: none;
    color: #333;
}

@media (max-width: 600px) {

    .link_list_item {
        display: block;
    }

    #copyright {
        margin-left: 8px;
        margin-top: 25px !important;
        text-align: center !important;
    }

}

a {
    text-decoration: none;
}

a:visited {
    color: #333;
}

#socialmedia_div {
    text-align: center;
}

.socialmedia_icon {
    width: 48px;
    height: auto;
    transition: all 0.5s;
    margin: 0px 25px 0px 25px;
}

.socialmedia_icon:hover {
    transition: all 0.5s;
    opacity: 0.8;
}

.footer_div {
    padding-top: 1em;
}

#footer_company {
    margin-right: 40px;
}

#copyright {
        margin-left: 8px;
        margin-top: 0px;
        text-align: left;
    }

.link:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.section_title {
    font-size: 32px;
    font-weight: bolder;
}

.refer_button {
    background-color: #353535;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 100%;
    outline: 0;
    transition-duration: 0.4s;
    border-style: none;
    margin-bottom: 5px;
}

.refer_button:hover {
    background-color: #000000;
    color: #fff;
}
