body, html {
/*    Minimal width of site*/
    min-width: 375px;
}

p {
    text-align: left;
}
#page {
    width: 100% + 8px;
    margin: -8px;
}

#top_div {
    width: 100%;
    position: relative;
}

#top_div_img {
    /* Set height to viewheight */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#item_desc {
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
/*    minimal with of site*/
    min-width: 375px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.item_desc_text {
    text-align: center;

}


#info_div_container, #order_div_container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

#info_div_container {
    padding-top: 1em;
    padding-bottom: 5em;
}

#order_div_container {
    background-color: whitesmoke;
    padding-top: 3em;
    padding-bottom: 3em;
}

#v-align-helper {
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}

#info_div, #order_div{
    display: inline-block;
    vertical-align: middle;
}

.info_box {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    padding: 5px;
    transition: all .25s cubic-bezier(0.65, -0.75, 0.3, 1.7);
}
.info_box:hover{
    background-color: rgba(204, 204, 204, 1);
    transition: all .25s cubic-bezier(0.65, -0.75, 0.3, 1.7), background-color 100ms linear;
    transform: scale(1.25);
    /* margin-top: -30px; */
    box-shadow: 0px 0px 50px 0px #000000;
    z-index: 10;
}

#order_div {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

}

.order_box {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin: 10px;
}

.order_button {
    background-color: #969696;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 100%;
    outline: 0;
    transition-duration: 0.4s;

}

.order_button:hover {
    background-color: white;
    color: #969696;
    border: 2px solid #969696;;
}

.order_button_big {
    background-color: #969696;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 100%;
    outline: 0;
    transition-duration: 0.4s;
}

.order_button_big:hover {
 background-color: white;
    color: #969696;
    border: 2px solid #969696;
}


.footer_div {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;

}
li {
    display: inline;
    padding: 1em;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}
a:visited {
    color: black;
}

#socialmedia {
    text-align: center;
}
#footer_div {
}

#copyright {
    margin-left: 8px;
}
